name: Coverage CI

on:
  push:
    branches: ["main", "development"]
  pull_request:
    branches: ["main", "development"]

jobs:
  test-codecov:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 42
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04, macos-latest, windows-latest]
        node-version: [16.x, 18.x, 19.x]
        exclude:
          - os: ubuntu-18.04
            node-version: 18.x
          - os: ubuntu-18.04
            node-version: 19.x
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Test using Node.js  ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - name: Run tests and collect coverage
        run: npm run test
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
